@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-cerise: 210, 61, 136;      /* #d23d88 */
    --color-affair: 139, 76, 156;      /* #8b4c9c */
    --color-tan-hide: 248, 161, 94;    /* #f8a15e */
    --color-french-rose: 238, 63, 127; /* #ee3f7f */
    --color-bon-jour: 232, 229, 230;   /* #e8e5e6 */
    --color-chambray: 58, 80, 159;     /* #3a509f */
    --color-jumbo: 115, 114, 122;      /* #73727a */
    --color-froly: 240, 109, 109;      /* #f06d6d */
    --color-apricot: 252, 214, 187;    /* #fcd6bb */
    --page-bg: 232,229,230;

    /* Semantic Colors */
    --color-primary: var(--color-chambray);
    --color-secondary: var(--color-cerise);
    --color-accent: var(--color-tan-hide);
    --color-background: var(--color-bon-jour);
    --color-text: var(--color-jumbo);
    --color-error: var(--color-froly);
    --color-success: var(--color-affair);
    --color-warning: var(--color-apricot);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #2d7af180;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #25252b inset !important;
    -webkit-text-fill-color: #fff !important;
}

/* HTML:  */
.loader {
  width: 20px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(farthest-side,#000 90%,#0000);
  background: 
    var(--_g) 0    50%,
    var(--_g) 50%  50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: 25% 50%;
  animation: l12 1s infinite linear;
}
@keyframes l12 {
    33%  {background-position:0   0  ,50% 100%,50%  100%,100% 0}
    66%  {background-position:50% 0  ,0   100%,100% 100%,50%  0}
    100% {background-position:50% 50%,0   50% ,100% 50% ,50%  50%}
}