.auth {
  min-height: 60dvh;
  background: linear-gradient(135deg, #e8e5e6 0%, #ffffff 100%);
}

.auth .container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #ee3f7f; 
  box-shadow: 0 10px 25px rgba(58, 80, 159, 0.1);
  overflow: hidden;
  background: #25252b;
}

.auth .container .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.auth .form-box.Login {
  left: 0;
  padding: 0 40px;
}

.auth .form-box.Register {
  right: 0;
  padding: 0 60px;
}

.auth .form-box h2 {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

.auth .form-box.Login .animation {
  transform: translateX(0%);
  transition: .7s;
  opacity: 1;
  transition-delay: calc(.1s * var(--S));
}

.auth .container.active .form-box.Login .animation {
  transform: translateX(-120%);
  opacity: 0;
  transition-delay: calc(.1s * var(--D));
}

.auth .form-box.Register .animation {
  transform: translateX(120%);
  transition: .7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--S));
}

.auth .container.active .form-box.Register .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0px);
  transition-delay: calc(.1s * var(--li));
}

.auth .form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.auth .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  transition: .5s;
}

.auth .input-box input:focus,
.auth .input-box input:valid {
  border-bottom: 2px solid #e46033; 
}

.auth .input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: .5s;
}

.auth .input-box input:focus ~ label,
.auth .input-box input:valid ~ label {
  top: -5px;
  color: #e46033; 
}

.auth .btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #e46033;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

.auth .btn::before {
  content: "";
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#25252b, #e46033, #25252b, #e46033);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .5s;
}

.auth .btn:hover::before {
  top: 0;
}

.auth .regi-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
  color: #d1d5db;
}

.auth .regi-link a {
  text-decoration: none;
  color: #e46033;
  font-weight: 600;
}

.auth .regi-link a:hover {
  text-decoration: underline;
}

.auth .info-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.auth .info-content h2,
.auth .info-content p {
  color: #ffffff;
}

.auth .info-content.Login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.auth .info-content.Register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 38px;
  pointer-events: none;
}

.auth .info-content.Login .animation {
  transform: translateX(0);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--S));
  opacity: 1;
  filter: blur(0px);
}

.auth .container.active .info-content.Login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--D));
}

.auth .info-content.Register .animation {
  transform: translateX(-120%);
  transition: .7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--S));
}

.auth .container.active .info-content.Register .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(.1s * var(--li));
}

.auth .container .curved-shape {
  position: absolute;
  right: 0;
  top: -5px;
  height: 600px;
  width: 850px;
  background: linear-gradient(45deg, #25252b, #e46033);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.auth .container.active .curved-shape {
  transform: rotate(0deg) skewY(0deg);
  transition-delay: .5s;
}

.auth .container .curved-shape2 {
  position: absolute;
  left: 250px;
  top: 100%;
  height: 700px;
  width: 850px;
  background: #25252b;
  border-top: 3px solid #e46033;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5s ease;
  transition-delay: .5s;
}

.auth .container.active .curved-shape2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.auth .animate-marquee {
  animation: marquee 60s linear infinite;
  display: flex;
}
